[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:kkanarios32/nvim.git
[submodule ".local/opt/todoist-cli"]
	path = .local/opt/todoist-cli
	url = git@github.com:kkanarios32/todoist-cli.git
[submodule ".local/opt/ImageGoNord-pip"]
	path = .local/opt/ImageGoNord-pip
	url = git@github.com:kkanarios32/ImageGoNord-pip.git
[submodule ".local/opt/texify"]
	path = .local/opt/texify
	url = git@github.com:kkanarios32/texify.git
[submodule ".local/opt/ulogme"]
	path = .local/opt/ulogme
	url = git@github.com:kkanarios32/ulogme.git
[submodule ".config/qutebrowser/dawn-startpage"]
	path = .config/qutebrowser/dawn-startpage
	url = git@github.com:kkanarios32/dawn-startpage.git
